.action_header {
    background: #f4f4f4;
    position: fixed;
    top: 0;
    left: 251px;
    right: 0;
    height: 53px;
    box-sizing: border-box;
    z-index: 1;
}
.action_header .normal_item {
    position: relative;
    line-height: 50px;
}
.action_header .normal_item {
    position: relative;
    line-height: 50px;
}

.action_header .content {
    display: flex;
}
.action_header .left_content {
    width: 50%;
    text-align: left;
}
.action_header .left_content {
    width: 50%;
    text-align: left;
}
.action_header .right_content {
    display: flex;
    width: 50%;
    text-align: right;
    justify-content:flex-end;
}
.action_header .action_item {
    
    margin-left: 20px;
    display: inline-flex;
    cursor: pointer;
    width: 100px;
    position: relative;
    height: 50px;
}

.action_header .action_item  .fa { 
   color: #53a2e1;
   line-height: 50px;

}
.action_header .action_item .text {
    font-size: 16px;
    margin-left:10px;
    line-height: 50px;
}


.action_header .fa.fa-chevron-down {
    margin-left: 10px;
    color: rgb(80, 80, 80);
}

.counting_text {
    margin-top:2px;
}